<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>minutely</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/hiro/.ghq/github.com/elzup/minutely/run.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/hiro/.ghq/github.com/elzup/minutely</string>
    <key>UserName</key>
    <string>hiro</string>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>StandardOutPath</key>
    <string>/dev/null</string>
</dict>
</plist>
